# 2. 뉴스 홈페이지 분류

- 신문사 홈페이지별로 기사 내용이 서로 다른 형태의 html로 구성되어 있을 것이다.
- rawdata에 있는 기사 링크에 있는 홈페이지 목록을 정리한다.
- 이를 바탕으로 각 홈페이지별 크롤링 방법을 정의할 예정이다.

<br>

## 2.1 데이터프레임 읽기

- 이전에 생성한 기사 링크가 포함된 데이터프레임을 읽어온다.

In [12]:
import pandas as pd

df_origin = pd.read_csv('news_info.csv')
df_origin.head()

,NewsDate,NewsTitle,Path,URL
0,20200129,"농협은행, 전 영업점에 방역 작업...'우한 폐렴' 확산 방지 총력","..\rawdata\기업별 관련기사\은행\NH농협은행\20200129 농협은행, 전...",https://news.naver.com/main/read.nhn?mode=LS2D...
1,20200129,윤종원 제26대 IBK기업은행장 취임식,..\rawdata\기업별 관련기사\은행\IBK기업은행\20200129 윤종원 제2...,https://news.naver.com/main/read.nhn?mode=LS2D...
2,20200131,"신한銀의 파격실험 영업점, 돈 안벌어도 OK",..\rawdata\기업별 관련기사\은행\신한은행\20200131 신한銀의 파격실험...,https://www.hankyung.com/economy/article/20200...
3,20200203,국민은행 디지털 전환 첨병된 '인사이트 지점',..\rawdata\기업별 관련기사\은행\KB국민은행\20200203 국민은행 디지...,https://news.naver.com/main/read.nhn?mode=LS2D...
4,20200203,신한은행 지점 암행평가 270곳 펀드 판매정지…질적 도약 기회,..\rawdata\기업별 관련기사\은행\신한은행\20200203 신한은행 지점 암...,http://news.mtn.co.kr/newscenter/news_viewer.m...

In [13]:
print(len(df_origin))

343

<br>

## 2.2 기사 링크 중복 확인

- rawdata에 같은 기사가 서로 다른 폴더에 있는 경우가 있다.
- 그렇기 때문에 파일 경로(`Path`) 정보를 제외한 나머지 정보가 중복된 데이터들이 존재한다.
- 이 중복된 데이터들을 확인해보자.

In [14]:
df = df_origin.drop(columns=["Path"], axis=1)
df.head()

,NewsDate,NewsTitle,URL
0,20200129,"농협은행, 전 영업점에 방역 작업...'우한 폐렴' 확산 방지 총력",https://news.naver.com/main/read.nhn?mode=LS2D...
1,20200129,윤종원 제26대 IBK기업은행장 취임식,https://news.naver.com/main/read.nhn?mode=LS2D...
2,20200131,"신한銀의 파격실험 영업점, 돈 안벌어도 OK",https://www.hankyung.com/economy/article/20200...
3,20200203,국민은행 디지털 전환 첨병된 '인사이트 지점',https://news.naver.com/main/read.nhn?mode=LS2D...
4,20200203,신한은행 지점 암행평가 270곳 펀드 판매정지…질적 도약 기회,http://news.mtn.co.kr/newscenter/news_viewer.m...

In [15]:
# 중복 확인
df[df.duplicated()].head(10)

,NewsDate,NewsTitle,URL
27,20200220,사고 안 나면 보험료 돌려주는 보험 나온다,https://news.naver.com/main/read.nhn?mode=LS2D...
28,20200220,사고 안 나면 보험료 돌려주는 보험 나온다,https://news.naver.com/main/read.nhn?mode=LS2D...
31,20200221,"DLF·라임에 데인 은행들, AI로 '불완전판매' 잡는다",https://m.news.naver.com/read.nhn?mode=LSD&sid...
32,20200221,"DLF·라임에 데인 은행들, AI로 '불완전판매' 잡는다",https://m.news.naver.com/read.nhn?mode=LSD&sid...
33,20200221,"DLF·라임에 데인 은행들, AI로 '불완전판매' 잡는다",https://m.news.naver.com/read.nhn?mode=LSD&sid...
35,20200221,굿바이 보험아줌마…로봇 설계사 시대 온다,https://m.news.naver.com/read.nhn?mode=LSD&sid...
36,20200221,굿바이 보험아줌마…로봇 설계사 시대 온다,https://m.news.naver.com/read.nhn?mode=LSD&sid...
37,20200221,굿바이 보험아줌마…로봇 설계사 시대 온다,https://m.news.naver.com/read.nhn?mode=LSD&sid...
38,20200221,굿바이 보험아줌마…로봇 설계사 시대 온다,https://m.news.naver.com/read.nhn?mode=LSD&sid...
39,20200221,굿바이 보험아줌마…로봇 설계사 시대 온다,https://m.news.naver.com/read.nhn?mode=LSD&sid...

In [16]:
df[df.duplicated()].to_csv("duplicated.csv", index=False)

In [7]:
# 중복 제거
df.drop_duplicates()

,NewsDate,NewsTitle,URL
0,20200129,"농협은행, 전 영업점에 방역 작업...'우한 폐렴' 확산 방지 총력",https://news.naver.com/main/read.nhn?mode=LS2D...
1,20200129,윤종원 제26대 IBK기업은행장 취임식,https://news.naver.com/main/read.nhn?mode=LS2D...
2,20200131,"신한銀의 파격실험 영업점, 돈 안벌어도 OK",https://www.hankyung.com/economy/article/20200...
3,20200203,"신한은행, 순이익 목표 10% 낮췄다",https://www.hankyung.com/economy/article/20200...
4,20200203,신한은행 지점 암행평가 270곳 펀드 판매정지…질적 도약 기회,http://news.mtn.co.kr/newscenter/news_viewer.m...
...,...,...,...
333,20200427,"한은 디지털 시대, 은행 구조조정 불가피...재교육 절실",https://m.sedaily.com/NewsView/1Z1MZRJTF4
335,20200428,"농협은행, '자산관리 최고은행' 노린다",https://www.sedaily.com/NewsView/1Z1NELSJKU
336,20200428,"신한카드, 소상공인 전용 신용평가 모형 개발 추진",https://news.naver.com/main/read.nhn?mode=LS2D...
337,20200429,코로나 위기 속 빛난 신한 IP담보대출,https://www.mk.co.kr/news/economy/view/2020/04...
338,20200430,"'언택트'가 뜬다 시중은행, 비대면 채널 차별화에 집중",https://news.naver.com/main/read.nhn?mode=LS2D...

In [10]:
len(df.drop_duplicates(['URL'], keep='first'))

195